* {
  box-sizing: border-box;
}
.display-4 {
  text-align: center;
}
img {
  cursor: pointer;
  padding: 20px;
}

.card-text {
  padding-left: 20px;
  padding-right: 20px;
}

/* .treats {
  width: 135px;
} */
